[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "*"
requests = "*"
urllib3 = "*"
lxml = "*"
coverage = "*"
codecov = "*"
requests-mock = "*"
Flask = "*"
Flask-API = "*"
firebase-admin = "*"
mock-firestore = "*"
pytest-mock = "*"
pytest = "*"
pylint = "*"
random-user-agent = "*"
jsonpath-ng = "*"
backoff = "*"
pytz = "*"
beautifulsoup4 = "*"
pylint-runner = "*"
webdriver-manager = "*"
apprise = "*"
python-dotenv = "*"
undetected-chromedriver = "*"
prompt-toolkit = "*"
"ruamel.yaml" = "*"
pyright = "*"
types-beautifulsoup4 = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3"
