aiohttp==3.7.4
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.8.1
bs4==0.0.1
CacheControl==0.12.6
cachetools==4.2.1
certifi==2019.9.11
cffi==1.14.5
chardet==3.0.4
click==7.1.2
codecov==2.1.11
colorama==0.4.3
coverage==5.4
decorator==4.4.2
firebase-admin==4.5.1
Flask==1.1.2
Flask-API==2.0
google-api-core==1.26.0
google-api-python-client==1.12.8
google-auth==1.26.1
google-auth-httplib2==0.0.4
google-cloud-core==1.6.0
google-cloud-firestore==2.0.2
google-cloud-storage==1.36.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
grpcio==1.35.0
httplib2==0.19.0
idna==2.8
importlib-metadata==3.4.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonpath-ng==1.5.2
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
mock-firestore==0.8.0
more-itertools==8.4.0
msgpack==1.0.2
multidict==4.7.6
packaging==20.9
pluggy==0.13.1
ply==3.11
proto-plus==1.13.0
protobuf==3.14.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.6.2
pylint-runner==0.6.0
pyparsing==2.4.7
pytest==6.2.2
pytest-mock==3.5.1
pytz==2021.1
PyYAML==5.1.2
random-user-agent==1.0.1
requests==2.22.0
requests-mock==1.8.0
rsa==4.7.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
uritemplate==3.0.1
urllib3==1.25.6
wcwidth==0.2.4
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.0
zipp==3.4.0
backoff==1.11.1
