<div class="exposes">
  {% for expose in exposes %}
    <div class="expose">
      <p>{{ expose['price'] }}, {{expose['rooms']}} rooms, {{expose['size']}}</p>
      <a href="{{ expose['url'] }}" target="_blank">
        {% if expose['image'] %}
          <img src="{{ expose['image'] }}">
        {% else %}
          <img src="/static/placeholder.png">
        {% endif %}
      </a>
      <h3><a href="{{ expose['url'] }}" target="_blank">{{ expose['title'] }}</a></h3>
    </div>
  {% endfor %}
</div>