<div class="exposes row">
  {% for expose in exposes %}
    <div class="col-md-4">
      <div class="expose mx-1 my-3">
        <p>{{ expose['price'] }}, {{expose['rooms']}} rooms, {{expose['size']}} from {{expose['from']}}</p>
        <a href="{{ expose['url'] }}" target="_blank">
          {% if expose['image'] %}
            <img src="{{ expose['image'] }}">
          {% else %}
            <img src="/static/placeholder.png">
          {% endif %}
        </a>
        <h3><a href="{{ expose['url'] }}" rel="noreferrer" target="_blank">{{ expose['title'] }}</a></h3>
      </div>
    </div>
  {% endfor %}
</div>
