{% extends 'layout.html' %}

{% block content %}
<div class="intro">
<p>Flathunter helps you find somewhere to live in Germany, by periodically fetching apartment listings from the major property portals (ImmoScout, ImmoWelt, Ebay Kleinanzeigen and WG Gesucht) and sending the details of apartments that match your criteria to you in a Telegram message.</p>
</div>
<div class="button-holder">
  <div onclick="hunt_flats()" class="hunt-button">Trigger Appartment Search</div>
  <div>
    <p class="status-text">Last run: <span id="last-run">{{ config.HUNTER.get_last_run_time(connection) }}</span></p>
  </div>
</div>

<script>

function hunt_flats() {
  if (document.getElementsByClassName("hunt-button")[0].classList.contains("disabled")) {
    return;
  }
  var xhr = new XMLHttpRequest();
  xhr.addEventListener("load", function() {
    if (xhr.status != 201) {
      console.log("Error starting hunt: " + xhr.status);
    } else {
      document.getElementsByClassName("hunt-button")[0].classList.remove("disabled");
      document.getElementById("last-run").innerHTML = JSON.parse(xhr.response).completedAt;
    }
  });
  xhr.open("POST", "/hunt");
  xhr.send();
  document.getElementsByClassName("hunt-button")[0].classList.add("disabled");
}

</script>
{% endblock %}
